{% extends 'layout.html' %}

{% block content %}

<br>
<h3 class="header center teal-text">{{ title }}</h3>       
     

<div id="map" style="height: 300px"></div>
<div class="section">
    <div class="container">
        
    </div>
</div>


<div class="section">
    <div class="container">
        <br><br>
       <!--  <div id="store-list" class="collection">
                    {% for item in location %}
                    <a href="#" class="pan-to-marker collection-item" data-marker-index="{{loop.index }}">{{item.title}}</a>
                    {% endfor %}
                </div> -->
        <div class="row">
            
            <div class="col s12">
                <form action="/nearme" method="POST">
                    <div class="row">
                        <!-- Map -->
                        
                        <h5 class="grey-text center">
                            Find a bar near by you <br> (enter your location or use current coordinates)
                        </h5>


                        <br>
            <div class="row">
                     <div class="input-field col s5">   
                        <p>Current longitude </p>
                        <textarea class="input-field" name="longitude" id="longitude" type="text" rows="5" cols="1" >
                        </textarea>
                    </div>

                    <div class="input-field col s5">
                        <p>Current latitude </p>
                        <textarea  class="input-field" name="latitude" id="latitude" type="text" rows="5" cols="1" ></textarea>
                           
                    </div>

                    </div>
                    <div class="col s12">                         
                       <button class=" find_button btn waves-effect waves-light" onclick="findBars()" type="submit" name="action">Find </button>
                    </div>

                    <div class="input-field col s12">
                        <p id="mistake"></p>
                                                   
                    </div>

                    <div id="bars" class="col s12">


                    </div>
            
                </form>


                 <!-- <button class="btn waves-effect waves-light" onclick="findCurrenPosition() "type="submit" name="action">Get Position</button> -->

                  <!-- <button class="btn waves-effect waves-light" onclick="getJSON();" type="submit" name="action">Get your coordinates</button> -->
                   
                <br>

            </div>
        </div>
    </div>
</div>

<script> 

function getCurrentPosition() {

    // Check boreswer/navigator support
    if (navigator.geolocation) {
        var options = {
            enableHighAccuracy : true,
            timeout : Infinity,
            maximumAge : 0
        };

        navigator.geolocation.watchPosition(getUserPosition, trackError, options);

    } else {
        alert('Ops; Geolocation is not supported');
    }
    // Get user position and place a icon on map
    function getUserPosition(position) {
        // Check longitude and latitude
        console.log(position.coords.latitude);
        console.log(position.coords.longitude);

        // Create the user' coordinates
        var googlePos = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
       
        var mapOptions = {
            zoom : 12,
            center : googlePos,
            mapTypeId : google.maps.MapTypeId.ROADMAP
        };

        // Set a variable to get the HTML div
        var mapObj = document.getElementById('map');
        // Create the map and passing: map div and map options
        var googleMap = new google.maps.Map(mapObj, mapOptions);
        // Setup a marker on map with user' location
        var markerOption = {
            map : googleMap,
            position : googlePos,
            animation : google.maps.Animation.DROP
        };

        // Create a instance with marker on map
        var googleMarker = new google.maps.Marker(markerOption);
        // Get the user's complete address information using the Geocoder Google API
        var geocoder = new google.maps.Geocoder();
        geocoder.geocode({
            'latLng' : googlePos
        }, function(results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                if (results[1]) {
                    var popOpts = {
                        content : results[1].formatted_address,
                        position : googlePos
                    };
                    // Setup an info window with user information
                    var popup = new google.maps.InfoWindow(popOpts);
                    google.maps.event.addListener(googleMarker, 'click', function() {
                        popup.open(googleMap);
                    });
                } else {
                    alert('No results found');
                }
            } else {
                alert('Uhh, failed: ' + status);
            }
        });
    }
    // Setup a error function
    function trackError(error) {
        var err = document.getElementById('map');
        switch(error.code) {
            case error.PERMISSION_DENIED:
            err.innerHTML = "User denied Geolocation.";
            break;
            case error.POSITION_UNAVAILABLE:
            err.innerHTML = "Information is unavailable. Check if geolocation is not switched off";
            break;
            case error.TIMEOUT:
            err.innerHTML = "Location timed out.";
            break;
            case error.UNKNOWN_ERROR:
            err.innerHTML = "An unknown error.";
            break;
        }
    }
}

getCurrentPosition();       

function getCoord() { 
    $.getJSON('http://ip-api.com/json', function(data) {
                // console.log(data);
                document.getElementById('latitude').innerHTML = (Number(data.lat));
                // alert(typeof(data.lon));
                document.getElementById('longitude').innerHTML = (Number(data.lon));
                
        });
    }
getCoord();





function findBars(e) {
  var curentLatitude = document.getElementById('latitude').innerHTML;
  var curentLongitude = document.getElementById('longitude').innerHTML;

  if (curentLatitude== 'undefined' || curentLongitude == 'undefined') {
    document.getElementById('mistake').innerHTML = "Enter proper coordinates"
  }

  else {
    var url2 = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=' + encodeURIComponent(curentLatitude) +',' + encodeURIComponent(curentLongitude) + '&radius=5000&type=cafe&type=restaurant&type=point_of_interes&type=food&keyword=cruise&key=AIzaSyBOViKxTR6rGY4jlrrJoxGFDQcT17lrei0';
    var url = 'https://maps.googleapis.com/maps/api/place/radarsearch/json?location=51.503186,-0.126446&radius=5000&type=museum&key=AIzaSyBOViKxTR6rGY4jlrrJoxGFDQcT17lrei0';
    console.log(url);

    

// $.ajax({
//     url: url,
//     type: 'GET',
//     dataType: 'json',
//     headers: {"Access-Control-Allow-Origin: *"},

//     // crossDomain: true,
//     success: function(data){
//         var obj = data.response[0];
//         $('#bars').html("Hello< I got it!");
//     }    
// });

    }    
}
       

</script>
{% endblock %}
