<!doctype html>
<html lang="en">
{% include "../partials/head.html" %}
<body>
<nav class="teal" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">Nightlife Coordination</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/log">Log in</a></li>
            <li><a href="/sign">Sign up</a></li>
            
        </ul>

        <ul id="nav-mobile" class="side-nav" style="transform: translateX(-100%);">
            <li><a href="/log">Log in</a></li>
            <li><a href="/sign">Sign in</a></li>
            
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">Menu</i></a>
    </div>
</nav>
{% block content %}{% endblock %}
<!-- Footer -->
{% include "../partials/footer.html" %}
</body>
</html>
